package utils

templ Toast(message, toastType string) {
	<div
		class={ "app-toast", "app-toast-" + toastType }
		role="alert"
	>
		<span class="app-toast-message">{ message }</span>
		<button
			type="button"
			class="app-toast-close"
			aria-label="Dismiss notification"
		>
			&times;
		</button>
	</div>
}
